<div id="fvtOutside">
  <div id="fvtInside">

    <div id="fvtEyebrow">Support Local Journalism</div>
    <h1 id="fvtHeadline">[%% headline %%]</h1>
    <p id="fvtDescription">[%% description %%]</p>

    <div id="fvtPlanLabel">Digital Access</div>

    <div id="fvtPrice">
      $9<span id="fvtPriceDecimal">.99</span><span id="fvtPricePeriod">/mo</span>
    </div>
    <div id="fvtPriceNote">Cancel anytime</div>

    <div id="fvtBenefits">
      <div class="fvtBenefit"><span class="fvtCheck">✓</span><span>[%% benefit1 %%]</span></div>
      <div class="fvtBenefit"><span class="fvtCheck">✓</span><span>[%% benefit2 %%]</span></div>
      <div class="fvtBenefit"><span class="fvtCheck">✓</span><span>[%% benefit3 %%]</span></div>
      <div class="fvtBenefit"><span class="fvtCheck">✓</span><span>[%% benefit4 %%]</span></div>
      <div class="fvtBenefit"><span class="fvtCheck">✓</span><span>[%% benefit5 %%]</span></div>
      <div class="fvtBenefit"><span class="fvtCheck">✓</span><span>[%% benefit6 %%]</span></div>
    </div>

    <div ng-repeat="term in terms">
      <button ng-show="[%% buttonShow %%]" ng-click="startCheckout('OFSKQS2JDQIS')" id="fvtBtn">
        [%% buttonText %%]
      </button>
    </div>

    <p id="fvtSignin">
      Already a subscriber?&nbsp;<a id="fvtSigninLink" href="/account">Sign in here</a>
    </p>

  </div>
</div>
